@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  text-decoration: none;
}

.button-light {
  background-color: #82b3d3;
}

ul {
  list-style: none;
}

/* Pages */

.page-header {
  width: 1060px;
  margin: 0 auto -6px auto;
}

.navigation {
  display: flex;
}

.logo {
  position: relative;
  z-index: 1;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-list:last-child {
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: inherit;
  line-height: 24px;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

.navigation-item-search {
  display: block;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  padding: 22px 12px;
}

.navigation-item-heart {
  display: block;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 17px;
  padding: 22px 12px;
}

.navigation-item-favorite {
  position: relative;
}

.item-count {
  position: absolute;
  top: 12px;
  right: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-item-button {
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  padding: 8px 0 8px 0;
  width: 160px;
}

/* Hero */

.main-index {
  flex-grow: 1;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 485px;
  color: #fff;
  background-color: #000;
  background-size: 100% auto;
  background-image: url("../images/backgrounds/index-background.jpg");
  background-repeat: no-repeat;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 57px;
  width: 100%;
  background-image: url("../images/divider.png");
}

/* Advantages */

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  margin: 0;
  padding: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.light {
  color: #fff;
}

.advantages {
  padding: 69px 0;
}

.main-title {
  display: block;
  margin-bottom: 25px;
}

.main-subtitle {
  display: block;
  margin-bottom: 90px;
}

.advantages-title {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 60px 0;
  padding: 0;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.advantages-item:not(:first-child):not(:last-child) .advantages-title::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.advantages-item:not(:first-child):not(:last-child) .advantages-title {
  color: #000;
}

.advantages-item:not(:first-child):not(:last-child) .advantages-description {
  color: #000;
}

.advantages-item {
  width: 400px;
  background-color: #82b3d3;
  padding: 102px 85px;
}

.advantages-item:nth-child(4n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(odd):not(:first-child):not(:last-child) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Services */

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 400px;
  background-color: #fff;
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
}

.services-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Search */

.search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000;
}

.search-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  color: #333;
}

/* Subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 415px;
  color: #fff;
  background-color: #000;
  background-size: 100% auto;
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
}

.subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-subtitle {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #fff;
}

.subscribe-email {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  opacity: 0.6;
}

.catalog-subscribe {
  background: transparent;
  color: #000;
}

/* Footer */

.page-footer {
  display: flex;
  margin: 0 70px;
  justify-content: space-between;
  align-items: center;
}

.contacts-address {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
}

.footer-number-call {
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

/* Catalog page */

.main-inner-wrapper {
  background-color: #000;
  color: #fff;
  background-size: 100% auto;
  background-image: url("../images/backgrounds/filter.jpg");
  background-repeat: no-repeat;
  text-align: left;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog {
  padding: 50px 70px 60px 70px;
}

/* Filter */

.filter {
  text-align: left;
}

.housing-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: #fff;
}

.catalog-submit {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
}

.catalog-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
}

/* Main catalog */

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: #fff;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: #fff;
}

.catalog {
  text-align: left;
}

/* Catalog search */

.catalog-search-result {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333;
}

/* Catalog hotels result */

.housing-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.housing-card-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.housing-name {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333;
}

.housing-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333;
}

.housing-more-details {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
}

.housing-to-favorite {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
}

.housing-number-rate {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #333;
}

/* Catalog subscribe */

.catalog-subscribe-subtitle {
  color: #333;
}

/* Catalog pagination */

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}
