@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-align: center;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

img {
  display: block;
}

.visually-hidden {
  display: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  text-decoration: none;
}

.button-light {
  background-color: #82b3d3;
}

ul {
  list-style: none;
}

/* Pages */

.page-header {
  width: 1060px;
  margin: 0 auto -6px auto;
}

.navigation {
  display: flex;
}

.logo {
  position: relative;
  z-index: 1;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  align-items: center;
  column-gap: 32px;
  margin: 0;
  padding: 0;
}

.navigation-list:last-child {
  margin-left: auto;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: inherit;
  line-height: 24px;
  text-decoration: none;
}

.navigation-item-search {
  display: block;
  background-image: url("../images/icons/search.svg");
  width: 20px;
  height: 20px;
}

.navigation-item-heart {
  display: block;
  background-image: url("../images/icons/heart.svg");
  width: 18px;
  height: 17px;
}

.navigation-item-favorite {
  position: relative;
}

.item-count {
  position: absolute;
  top: -12px;
  right: -10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  line-height: 10px;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-item-button {
  font-size: 16px;
  line-height: 20px;
}

/* Hero */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 485px;
  color: #fff;
  background-color: #000;
  background-size: 100% auto;
  background-image: url("../images/backgrounds/index-background.jpg");
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 57px;
  width: 100%;
  background-image: url("../images/divider.png");
}

/* Advantages */

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.light {
  color: #fff;
}

.advantages {
  padding: 69px 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  width: 400px;
  background-color: #82b3d3;
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Services */

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item {
  width: 400px;
  background-color: #fff;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 415px;
  color: #fff;
  background-color: #000;
  background-size: 100% auto;
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.subscribe-email {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  opacity: 0.6;
}

.catalog-subscribe {
  background: transparent;
  color: #000;
}

/* Footer */

.page-footer {
  display: flex;
  margin: 0 70px;
  justify-content: space-between;
  align-items: center;
}

.contacts-address {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
}

.footer-number-call {
  color: #000;
  text-decoration: none;
}

/* Catalog page */

.main-inner-wrapper {
  background-color: #000;
  color: #fff;
  background-size: 100% auto;
  background-image: url("../images/backgrounds/filter.jpg");
  background-repeat: no-repeat;
  text-align: left;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog {
  padding: 50px 70px 60px 70px;
}

/* Filter */

.filter {
  text-align: left;
}

.housing-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-reset {
  background-color: transparent;
}

/* Catalog */

.catalog {
  text-align: left;
  font-weight: 400;
}

.catalog-search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.housing-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.housing-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.housing-number-rate {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000;
  background-color: #f2f2f2;
}
